<table class="table m-b-none" style="width: 800px">
    <thead>
    <tr>
        <th>接团编号</th>
        <th>接团商家</th>
        <th>接团出价</th>
        <th>接团时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for a in dataList %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.member_name }}</td>
            <td>{{ a.money }}</td>
            <td>{{ a.create_time|date('Y-m-d H:i') }}</td>
            <td>{{ a.status == 1?'待选':'选中' }}</td>
            <td>
                <a href="tuan.jie.set?id={{ a.tuan_id }}&jt_id={{ a.id }}" class="ajax-post text-info-dker confirm">设置接团</a>
            </td>
        </tr>
    {% else %}

    {% endfor %}
    </tbody>
</table>