{% extends '../page.layout.twig' %}
{% block title %}团购列表{% endblock %}
{% block block_class_name %}data-list-page{% endblock %}
{% block app_content %}
    <div class="container" style="margin-top: 30px;">
        <div class="panel data-list-wrapper">
            <div class="panel-body data-list-container">
                <div class="row">
                    {% for c in companyList %}
                        <div class="col-item-5">
                            <a href="info.html?id={{ c.company_id }}" class="list-img" target="t_g_{{ c.company_id }}">
                                <div class="img"><img src="{{ res_url }}{{ c.company_image }}" alt="{{ c.company_name }}"></div>
                            </a>
                            <div>
                                <a href="detail.html?id={{ item.id }}" class="list-title" target="t_g_{{ item.id }}">
                                    <p class="item-title">{{ c.company_name }}</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include '../layout.page.twig' %}
        </div>
    </div>
{% endblock %}