{% extends '../member/layout.twig' %}
{% block title %}公司信息资料{% endblock %}
{% block member_content %}
    <div class="panel">
        <div class="panel-item">
            <div class="panel-title">
                <h2 class="pull-left">公司/商家入驻</h2>
                <a href="{{ SITE_URL }}/member/identification.html" class="pull-right">认证资料</a>
            </div>
            <div class="panel-body">
                <div class="step step-1">
                    <textarea rows="30" readonly="readonly" class="form-control">本协议由同意并承诺遵守本协议规定使用会员通速找网服务的合法经营实体（下称“商户”）、杭州新颜网络科技有限公司（下称“会员通速找网”）共同缔结，具有合同效力。
 一、协议内容及生效：
（一）本协议内容包括协议正文及所有会员通速找网已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。
（二）商户在使用会员通速找网提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。会员通速找网有权根据需要不时地制定、修改本协议或各类规则，如本协议有任何变更，会员通速找网将在网站上以公示形式通知商户。任何修订和新规则一经公示，商户在七日内如未以书面形式提出相关意见，则新规则即时生效，并成为本协议的一部分。登录或继续使用服务将表示商户接受经修订的协议。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本协议约束。
（三）商户签署或在线接受本协议并不导致本协议立即生效，经过会员通速找网审核通过并向商户发出服务开通通知时，本协议即在商户和会员通速找网之间产生法律效力。
 二、证明文件提交：
（一）证明文件提交：商户欲入驻会员通速找网，必须向会员通速找网提交其在申请服务时应当提供的证明文件或其他相关证明。
（二）证明文件变更的通知：协议期内，上述相关证明文件的任何变更商户都应及时通知会员通速找网，并补充提交变更后的证明文件。
（三）责任条款：商户承诺如其未及时通知或更新其证明文件或其他证明信息自行承担全部责任，商户保证其向会员通速找网提供的全部证明文件真实、准确且不存在超过时效问题（即保证所有证明文件在整个合同履行期间都处于有效期内）。如因上述原因发生纠纷或被相关国家主管机关处罚，商户应当独立承担全部责任，如给会员通速找网造成损失的，商户同意赔偿其全部损失。
 三、商户的声明与保证 ：
（一）商户必须向会员通速找网提供真实、合法、准确、有效的注册资料，并保证其诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证会员通速找网及其他用户可以通过上述联系方式与自己进行联系。同时，商户也有义务在相关资料实际变更时及时更新有关注册资料。
（二）其有合法的主体权利缔结本协议，使用会员通速找网相关服务。
（三）其发布于会员通速找网的所有信息真实、准确，符合相关法律法规及会员通速找网规则。
（四）其对其发布于会员通速找网的交易信息中所涉商品有合法的销售权、经营许可权。
（五）其将按照不低于《中华人民共和国产品质量法》、《中华人民共和国消费者权益保护法》及其他法规、部门规章和国家强制性标准规定的要求，出售质量合格商品并提供“三包”等售后服务。
（六）其在会员通速找网出售商品，有义务按照买家实际支付的现金金额为买家开具正规发票，相关税收应按国家相关规定由商户自行承担。
（七）其保证在使用服务进行交易的过程中遵守诚实信用的原则，不在交易过程中采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。
（八）其保证在使用服务时实施的所有行为均遵守国家法律、法规和会员通速找网的相关规则、规定以及各种社会公共利益及公共道德。如有违反导致任何法律后果的发生，商户应以自己的名义独立承担所有相应的法律责任；
（九）其承诺拥有合法的权利和资格向会员通速找网上传有关商品销售信息并进行销售，且前述行为未对任何第三方合法权益，包括但不限于第三方知识产权、物权等构成侵害，如因其行为导致会员通速找网遭受任何第三方提起的索赔，诉讼或行政责任，其将承担相应责任并使会员通速找网免责。
（十）其承诺不在发布的商品中使用任何未获授权品牌的关键字。
（十一）其承诺接受会员通速找网对其出售商品是否具有合法进货来源的不定期检查，其有义务保留其商品具有合法进货来源的相关凭证。对于无法提供合法进货来源凭证的，会员通速找网将根据实际情况对商品的真伪作出判断并根据本协议以及会员通速找网相关规则进行处理，商户对此承担举证不利的后果。
（十二）其承诺接受会员通速找网基于商品品质控制需求对其在售商品进行的质量抽检，检测报告由专业的第三方质检机构出具，其承诺对会员通速找网选择的第三方质检机构作出的检测结果不持有异议。对于经检测证明存在质量瑕疵的商品，商户应当及时予以更换，检测费用由商户承担。
（十三）其入驻会员通速找网后，同意支付1000元保证金，并支付10%的商品销售额作为佣金。
（十四）其同意配合会员通速找网的宣传推广策略，设置分销商品，自行支付给分销商的推广佣金不低于商品销售额的5%。
（十五）其同意配合会员通速找网推出的“一元砍价购”优惠活动，设置砍价商品，砍价商品的原价、底价、砍一刀减多少元由商户自行制定，底价须低于一般的市场销售价。
（十六）其同意会员通速找网的交易模式，售出商品后，在消费者确认收货的同时（消费者未确认收货则于15日内自动确认），由会员通速找网把销售额打入商户的会员通个人账户，商户可利用支付宝将销售额提取现金（50元起提）。
（十七）商户如需解除与会员通速找网的合作关系，则须将最后一个订单的货物发完，会员通速找网将于15个工作日内将商户交纳的保证金予以无息返还。
  四、消费者保障 ：
消费者保障，只指商户根据本协议约定的条款和条件及会员通速找网网站其他公示规则的规定，通过会员通速找网发布除二手、闲置外的商品（以下简称“全新商品”）信息并向买家出售全新商品时，应履行“商品如实描述”、“商品7天无理由退换货”、“正品保障”义务。会员通速找网将在网站不时公示新增的消费者保障义务或对原消费者保障义务内容进行修订。如您对新增或修订的消费者保障义务持有异议，您应当终止本协议，如继续使用会员通速找网服务，则意味着接受会员通速找网的新增或修订内容。
（一）消费者保障内容
在商户通过会员通速找网发布商品信息以及与买家进行商品交易过程中，商户承诺遵守以下约定：
1、“如实描述”义务：指对上传于会员通速找网的商品信息进行如实描述，并对描述的商品信息（如来源、品质、使用方法、养护措施等）负有举证责任。
2、“7天无理由退换货”义务：指当买家购买商户出售的商品，在签收货物后7天内，如因买家主观原因不愿完成本次交易，商户承诺同意按照本协议之约定向买家提供退换货服务。如买家与商户就退换货事宜协商未果，买家向会员通速找网发起针对商户的维权，并申请“7天无理由退换货”赔付时，如会员通速找网判定买家赔付申请成立，商户同意按照本协议约定的赔偿金额对买家进行相应的赔付。
3、“遵守承诺”义务：指商户应当严格遵守通过各种方式直接或间接向买家作出的承诺，包括但不限于通过本协议、会员通速找网相关规则、会员通速找网服务协议以及网络店铺、商品详情页面等方式向买家作出的承诺。
4、“正品保障”义务：指当买家购买商户在会员通速找网出售的商品，在收到货物后，如买家认为该商品涉嫌假冒（包括盗版）商品或非原厂正品、未经报关进口商品、假冒材质成份商品（其中假冒商品、未经报关进口商品、假冒材质成份商品的定义以会员通速找网规则规定为准）且买家与商户协商未果的前提下，买家在会员通速找网指定期间内发起针对商户的维权，申请消费者保障赔付时，如会员通速找网判定买家赔付申请成立，商户同意按照本协议之约定向买家退回其实际支付的商品价款，并增加赔偿其受到的损失，并承担维权所涉商品所有物流费用。部分特殊类目商品（如食品）的赔付办法，如国家相关法律法规规定的赔付标准高于本协议的，商户同意以法律法规规定为准。
（二）消费者保障责任及处理
1、商户明确了解并同意商户是消费者保障的责任主体。当发生本协议前述商户应当履行消费者保障义务情形时，商户应保证买家的消费者权益。对于买家因前述问题提出的要求，商户应积极处理。
2、商户同意当会员通速找网受理买家提出的消费者保障维权和赔付申请时，商户应积极配合，在会员通速找网要求的时间期限内提供相关证据材料，以证明与买家交易的商品不存在买家提出的问题或符合双方的约定，并保证所提交的证据材料真实、合法。如会员通速找网以普通非专业人员的知识水平标准，对商户和买家提供的证据材料进行表面审核后，以其独立判断商户未全面履行本协议项下消费者保障内容的，则会员通速找网有权根据本协议及其它公示规则的规定，对因此遭受权益损失的买家进行先行赔付。
3、商户同意当会员通速找网使用保证金向买家进行先行赔付时，或会员通速找网基于商户不可撤销地委托申请，使用自有资金代商户向买家进行赔付时，即视为商户违规，会员通速找网有权给予商户相应处罚，包括但不限于将商户清退出会员通速找网，商户因为违规行为向会员通速找网支付的违约金将优先弥补会员通速找网使用自有资金（包括会员通速找网消费者保障基金）的损失。
五、会员通速找网的权利和义务：
（一）会员通速找网有义务在现有技术上维护整个速找网网上交易平台的正常运行，并努力提升和改进技术，使商户网上交易活动得以顺利进行；
（二）对商户在注册使用服务中所遇到的与交易或注册有关的问题及反映的情况，会员通速找网应及时作出回复；
（三）会员通速找网有权对商户的注册数据及交易行为进行查阅，发现注册数据或交易行为中存在任何问题或怀疑，均有权向商户发出询问或要求改正的通知，或者直接作出删除或对商户店铺采取限制性措施等处理；
（四）商户在此授予会员通速找网免费的许可使用权利(并有权对该权利进行再授权)，使会员通速找网有权(全部或部份)使用、复制、修订、改写、发布、翻译、分发、执行和展示商户公示于其会员通速找网的各类信息或制作其派生作品，和以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。
六、协议的终止：
（一）自然终止：本协议到期终止或商户因任何原因终止，则本协议终止。
（二）通知解除：协议任何一方均可以提前十五（15）天书面通知的方式终止本协议。 如商户通过在线点击“确认退出”按钮申请终止本协议，则系统会立即使商户的店铺进入“监管”状态，十五天（15）后店铺正式进入退出流程，商户在退出流程后三十天（30）天方可处理交易纠纷以及与会员通速找网之间的账务、发票等结算事宜。
（三）会员通速找网单方解除权：
如商户违反会员通速找网的任何规则或本协议中的任何承诺或保证，包括但不限于本协议项下的任何约定，会员通速找网都有权立刻终止本协议，且按有关规则对商户进行处罚。
（四）商户在超过九十（90）天的时间内未以会员通速找网服务账户及密码登录的，会员通速找网有权终止本协议。
（五）如非因会员通速找网的原因，商户未能按本协议及附件之规定，按期全额支付有关服务费用和活动费用，且在会员通速找网规定的时限内仍未支付，会员通速找网有权部分或全部中止或终止本协议。
（六）本协议规定的其他协议终止条件发生或实现，导致本协议终止。
七、协议期限：
本协议在符合本协议第一条款约定的条件时即告生效，本协议有效期一年。双方另有约定的除外。
八、保密条款：
（一）本协议所称商业秘密包括但不限于本协议、任何补充协议所述内容以及在合作过程中涉及的其他秘密信息。任何一方未经商业秘密提供方同意，均不得将该信息向任何第三方披露、传播、编辑或展示。协议方承诺，本协议终止后仍承担此条款下的保密义务，保密期将另行持续三年。
（二）因对方书面同意以及国家行政、司法强制行为而披露商业秘密的，披露方不承担责任；该商业秘密已为公众所知悉的，披露方不承担责任。
 九、有限责任：
（一）服务将按“现状”和按“可得到”的状态提供。会员通速找网在此明确声明对服务不作任何明示或暗示的保证，包括但不限于对服务的可适用性，没有错误或疏漏，持续性，准确性，可靠性，适用于某一特定用途之类的保证，声明或承诺。会员通速找网对服务所涉的技术和信息的有效性，准确性，正确性，可靠性，质量，稳定，完整和及时性均不作承诺和保证。
（二）使用服务下载或者获取任何资料的行为均出于商户的独立判断并自行承担风险。每一个商户独自承担因此对其电脑系统或资料灭失造成的损失。
（三）不论在何种情况下，会员通速找网均不对由于Internet连接故障，电脑，通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，不可抗力，战争，政府行为，国际、国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。
十、违约责任：
（一）商户同意赔偿由于使用服务（包括但不限于将商户资料展示在网站上）或违反本协议而给会员通速找网造成的任何损失（包括但不限于由此产生的全额的诉讼费用和律师费）。商户同意会员通速找网不对任何商户张贴的资料，包括诽谤性的、攻击性的或非法的资料承担任何责任；由于此类材料对其它用户造成的损失由商户自行承担全部责任。
（二）除本协议及会员通速找网规则另有约定之外，如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失进行索赔，如违约方未能按时停止违约行为，则守约方有权立即终止本协议。
十一、争议解决及其他：
（一）本协议之解释与适用，以及与本协议有关的争议，均应依照中华人民共和国法律予以处理，并以四川省成都市成华区人民法院为第一审管辖法院。
（二）如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。
（三）会员通速找网于商户过失或违约时放弃本协议规定的权利的，不得视为会员通速找网对商户的其他或以后同类之过失或违约行为放弃要求赔偿的权利。</textarea>
                    <div class="text-align" style="margin-top: 15px">
                        <a href="update.html?action=checked" class="btn btn-default">确认协议并填写入驻信息</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block end_body %}
    <script src="{{ SITE_URL }}/assets/ycs/plugins/jquery.uploadify.js"></script>
    <script>
        $(function(){
            var res_url = '{{ res_url }}';
            $('#avatar_upload').uploadify({
                formData: {
                    'timestamp' : '{{ timestamp }}',
                    'token'     : '{{ token }}'
                },
                fileTypeDesc: '图片文件',
                fileTypeExts: '*.jpg; *.png',
                buttonText: '设置公司图片',
                width: 300,
                height: 30,
                multi: false,
                swf: '{{ SITE_URL }}/assets/ycs/plugins/uploadify.swf',
                uploader: '{{ SITE_URL }}/file/upload',
                onUploadStart: function (file) {
                    $('.process-upload').show();
                },
                onUploadSuccess: function (file, response, res) {
                    $('.process-upload').hide();
                    response = ycj.parseJSON(response);
                    if (response) {
                        if (response['code'] != 0) {
                            modalLoading.msg(response['message'],1000);
                            return false;
                        }
                        $('#user-avatar-img').attr('src', res_url + response['data'] + '?resize/w=300&x-oss-process=image/circle,r_300/format,png');
                        $('#company_image').val(response['data']);
                        return;
                    }
                    modalLoading.msg('设置公司图片异常');
                }
            });
            $('form.ajax-form').formOnAjax(function(ret){
                var frm = $(this);
                modalLoading.msg('资料更新成功',1000,function(){
                    if(frm.hasClass('reset')){
                        frm.get(0).reset();
                    }
                });
            });
        })

    </script>

{% endblock %}